@model SportsTeamTweets.Models.SubMenuNavModel
@{
    int idx = 0;
    int subMenuLen = Model.Links.Count;
    var firstColLinks = Model.Links;
    var secondColLinks = Model.Links.Skip(subMenuLen/2);
}
@if (subMenuLen >= 30)
{
   <li class="column-menu span3 firstcolumn">
       <ul>
            @foreach (var link in firstColLinks)
            {

                if (idx % 4 == 0)
                {
                    <li class="divider divider-no-upper"></li>
                }
                var logoImg = "/Content/Images/NFL/" + link.Key + ".png";
                var linkref = "/NFL/" + link.Key;
                <li>
                    <a href="@linkref"><img src="@logoImg" alt="@link.Key" />      @link.Value</a>
                </li>
                idx++;
                if(idx >= (subMenuLen/2))
                {
                    break;
                }
           }
        </ul>
    </li>
    <li class="column-menu span3">
        <ul>
            @foreach (var link in secondColLinks)
            {
                if (idx % 4 == 0)
                {
                    <li class="divider divider-no-upper"></li>
                }
                var logoImg = "/Content/Images/NFL/" + link.Key + ".png";
                var linkref = "/NFL/" + link.Key;
                <li>
                    <a href="@linkref"><img src="@logoImg" alt="@link.Key" />      @link.Value</a>
                </li>
                idx++;
            }
        </ul>
    </li>
}
else
{
    foreach (var link in firstColLinks)
    {
        if (idx % 4 == 0)
        {
            <li class="divider divider-no-upper"></li>
        }
        var logoImg = "/Content/Images/NFL/" + link.Key + ".png";
        var linkref = "/NFL/" + link.Key;
        <li class="dropdown-submenu">
            <a href="@linkref"><img src="@logoImg" alt="@link.Key" />      @link.Value</a>
        </li>
        idx++;
    }
}

